In [ ]:
%logstart _ort studentName_1_3_3.log
# Jane Doe John Smith 1/.3.3 IPython log

In [2]:
a = 3
a**2

9

In [3]:
a == 3 # Boolean expression, also called a conditional

True

In [4]:
a+1 >= 2 and a**2 != 5 # compound conditional

True

In [5]:
# 3a. Prediction:
a**2 >= 9 and not a>3

# If prediction was wrong, discuss and explain
# 3b. Prediction:
a+2 == 5 or a-1 != 3

# If prediction was wrong, discuss and explain

True

In [6]:
x, y = (65,40)
x

65

In [7]:
50 < x and x < 80 and 30 <= y and y <= 45

True

In [9]:
# 4. Compound conditional
(80 < x and x < 50 and 50 <= y and y <= 20)

False

In [10]:
def age_limit_output(age):
    "Step 6a if-else example"
    AGE_LIMIT = 13   # convention: use CAPS for costant
    if age < AGE_LIMIT:
        print (age,'is below the age limit.')
    else:
        print(age,'is old enough.')
    print(' Minimum age is ', AGE_LIMIT)

In [11]:
age_limit_output(10)
age_limit_output(16)

10 is below the age limit.
 Minimum age is  13
16 is old enough.
 Minimum age is  13

In [12]:
def report_grade(percent):
    "Step 6b if-else"

In [14]:
't' in 'string' # includes lowercase t character

True

In [15]:
'T' in 'string' # case matters

False

In [16]:
3 in [1,2,3] # this list contains the in 3

True

In [17]:
'3' in [1,2,3] # '3' is a string, different than 3

False

In [18]:
def vowel(letter):
    vowels = 'aeiouAEIOU'
    if letter in vowels:
        return True
    else:
        return False
# should check len(letter)==1